<section class="my-5 pt-5 pb-0 mb-0" style="background-color: #eee;">

  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center m-4" >
      <div class="col text-center" >
        <p  class="m-2"><span class="h2 m-3 pb-3 text-secondary">Question</span><img class="pb-2" style="width: 40px; height: 40px;" src="https://cdn-icons-png.flaticon.com/512/5692/5692030.png"></p>
      </div>
      <div class="row d-flex ">
        <div *ngFor="let qes of allQes; let i = index;" class="col-md-4 col-s-6 mb-4 ">
          <div class="card radius-10 border-top border-0 border-3 border-success">
            <img class="card-img-top img-fluid m-auto" style="max-width: 200px;" src="assets/images/question.jpg" alt="Card image cap">
            <div class="card-body m-auto">
              <h5 class="card-title text-muted">Question {{i+1}}</h5>
              <p class="card-text text-muted">{{qes.text}}</p>
              <div class=" d-flex justify-content-center align-items-center">
                <button type="button" (click)="Delete(qes.id)" class="btn btn-danger  me-2 mb-2" data-mdb-toggle="tooltip"
              title="Remove item"><i class="bi bi-trash"></i> </button>
              <button type="button" [routerLink]="['/Add',qes.id]"  class="btn btn-primary  mb-2"  data-mdb-toggle="tooltip"
              title="Move to the wish list"> <i class="bi bi-pen"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>

        <div class="d-flex justify-content-end">
          <a type="button" class="text-success block"  [routerLink]="['/Add',0]"> <i class="bi bi-plus-square-fill" style="font-size: 40px;"></i></a>
        </div>


    </div>
  </div>
</section>
